* {
    margin: 0;
    padding: 0;
    text-shadow: 1px 1px 2px black;
}

h1 {
    font-size: 50px;
    color: #f5ff62
}

body {
    font-family: "Rubik Mono One", monospace;
    font-weight: 400;
    font-style: normal;
    background-image: url("/img/back.png");
    ;
}

#game-menu {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 700px;
    left: 25%;
    text-align: center;
    visibility: visible;
}

#game-screen {
    position: absolute;
}

#game-credits {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 700px;
    text-align: center;
    visibility: hidden;
}

#winner-credits {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 700px;
    text-align: center;
    visibility: hidden;
}

#game-menu h2 {
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 20px;
    font-style: oblique;
    color: #f5ff62
}

#game-credits h2 {
    font-size: 40px;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 20px;
    font-style: oblique;
    color: #f5ff62
}

#game-credits h3 {
    margin-top: 20px;
    margin-bottom: 20px;
    color: white
}

#winner-credits h2 {
    font-size: 40px;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 20px;
    font-style: oblique;
    color: #f5ff62
}

#winner-credits h3 {
    margin-top: 20px;
    margin-bottom: 20px;
    color: white
}

#audio-container {
    position: absolute;

}

p {
    padding: 50px;
    margin: 15px;
}

ol {
    padding: 80px;
    border: 1px solid black;
    border-radius: 60px;
    color: white;
    font-size: 23px;
}

.list {
    padding: 15px 15px;
    list-style: none;
}

#final-score {
    border: 1px solid black;
    border-radius: 60px;
    padding: 50px;
    margin: 15px;
}

#final-points {
    border: 1px solid black;
    border-radius: 60px;
    padding: 50px;
    margin: 15px;
}

#score {
    color: #f5ff62;
    font-size: 30px;
    font-style: oblique;

}

#points {
    color: #f5ff62;
    font-size: 30px;
    font-style: oblique;

}

.btn {
    background: linear-gradient(45deg, #6a11cb, #2575fc);
    border: none;
    border-radius: 25px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-size: 16px;
    padding: 15px 30px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.3s, transform 0.3s;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
    margin-top: 40px;
}

.btn:hover {
    background: linear-gradient(45deg, #2575fc, #6a11cb);
    transform: scale(1.05);
}

.btn:active {
    transform: scale(0.95);
}

.btn-restart {
    background: linear-gradient(45deg, #6a11cb, #2575fc);
    border: none;
    border-radius: 25px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-size: 16px;
    padding: 15px 30px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.3s, transform 0.3s;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
    margin-top: 40px;
}

.btn-restart:hover {
    background: linear-gradient(45deg, #2575fc, #6a11cb);
    transform: scale(1.05);
}

.btn-restart:active {
    transform: scale(0.95);
}

.mute-btn {
    background-image: url("/img/mute.png");
    position: absolute;
    top: 50px;
    left: 50px;
    height: 60px;
    width: 60px;
    background-color: transparent;
    background-size: auto 100%;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}